# some stuff...
profile-photo.jpg
cv.**.ts

node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# project specific
!cv.content.ts
# deno.lock
